<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>{% block title%} {% endblock%}</title>
    <style>
      a { color: inherit; } 
      a:hover{
        color: inherit;
        text-decoration: none;
      }

    body{
      font-family: Inter;
    }
    a,a:hover{
      color: inherit;
    }
    .grid{
      display: grid;
      column-gap: 50px;
      /* grid-template-columns: 170px 170px 170px 170px 170px; */
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
      row-gap: 30px;
      height: auto;
      align-items: flex-start; /* ADDED */

    }
  </style>

  </head>
  <body>
    <!-- <div style="z-index: 1;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand font-weight-bold" href="/">Shopio</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="w-50 ml-5">
            <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'Item:items'%}">
              <input class="form-control mr-sm-2 w-75 rounded ml-5" name="query" type="search" placeholder="Search" aria-label="Search" value="{{query}}">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
          
          <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
            
            <div class="navbar-nav font-weight-bold ">
              
              <a class="nav-item nav-link" href="{% url 'Item:new'%}">New Item</a>
              
              {%if request.user.is_authenticated %}
              
              <a href="{% url 'conversation:inbox' %}"><button  type="button" class="btn btn-success mx-3">Inbox</button></a>
              <a href="{% url 'dashboard:dashboard' %}"><button  type="button" class="btn btn-success mx-3">Dashboard</button></a>
              <a href="{% url 'core:logout' %}"><button  type="button" class="btn btn-success mx-3">LogOut</button></a>
              
  
              {% else%}
              <a href="{% url 'core:signup' %}"><button  type="button" class="btn btn-success mx-3">signup</button></a>
              <a href="{% url 'core:login' %}"><button  type="button" class="btn btn-success mx-3">Login</button></a>
  
              {% endif%}
              
              
            </div>
          </div>
        </nav>
    </div> -->

    {% block header %}

    {% endblock %}
    <!-- category -->
      {% block category %}

      {% endblock %}

      
      
        {% block content %}
        <h1>hello</h1>
        {% endblock %}
    


    <!-- footer -->

    <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="" style="background-color: #262626;">

  <footer class="text-center text-lg-start border border-white mt-xl-5 pt-4">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4 text-white">menu</h5>

        <ul class="list-unstyled mb-4">
          <li>
            <a href="#!" class="text-white">About us</a>
          </li>
          <li>
            <a href="{% url 'core:contact' %}" class="text-white">Contact Us</a>

          </li>
          <li>
            <a  class="text-white">privacy policy</a>
          </li>
          <li>
            <a href="#!" class="text-white">Term of use</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4 text-white">Assistance</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Contact us</a>
          </li>
          <li>
            <a href="#!" class="text-white">Size Guide</a>
          </li>
          <li>
            <a href="#!" class="text-white">Shipping Information</a>
          </li>
          <li>
            <a href="#!" class="text-white">Returns & Exchanges</a>
          </li>
          <li>
            <a href="#!" class="text-white">Payment</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4 text-white">Careers</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Jobs</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  
  <!-- Copyright -->
</footer>

</div>
<!-- End of .container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>