<section>
  <div class="container-fluid px-4 mt-3">
    <div class="root">
      <div class="text-dark " style="font-size: 17px;     margin-left: -16px;">
        <ul class="nav text-ligh">
  
        
      
      {% for category in categories %}
        <div class="">
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'Item:items'%}?query={{query}}&category={{category.id}} " style="color: rgba(163, 163, 163, 1); font-weight: 600;">{{category.name}}</a>
          </li>

        </div>
      {% endfor %}
      
  
  
</div>
</div>
</div>
<hr class="m-0 mb-4">
</section>